.table-filters-holder {
    border-bottom: 1px solid #d9d9d9;
    .upper {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .selectbox-holder {
            display: flex;
            .is-balance-type {
                margin-left: 10px;
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    li {
                        display: flex;
                        align-items: center;
                        margin-left: 40px;
                        .icon {
                            width: 8px;
                            height: 8px;
                            margin-right: 9px;
                            border-radius: 50%;
                            background: #d80027;
                            &.active {
                                background: #00a237;
                            }
                        }
                        .text {
                            font-size: 16px;
                            line-height: 19px;
                            color: #939393;
                        }
                    }
                }
            }
            .selectbox {
                position: relative;
                .selectbox-top {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    display: flex;
                    cursor: pointer;
                    color: #005aff;
                    .icon {
                        transition: 0.3s ease;
                        margin-left: 16px;
                    }
                }
                &.active {
                    .selectbox-bottom {
                        height: max-content;
                    }
                    .selectbox-top {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }
                .selectbox-bottom {
                    position: absolute;
                    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
                    background: #ffffff;
                    border-radius: 4px;
                    left: -10px;
                    top: 27px;
                    height: 0px;
                    overflow: hidden;
                    transition: 0.3s ease;
                    z-index: 1;

                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            padding: 20px 24px;
                            border-bottom: 1px solid #e2e2e2;
                            width: 312px;
                            max-height: 436px;
                            overflow-y: auto;
                            cursor: pointer;
                            &.active {
                                display: flex;
                                justify-content: space-between;
                                font-size: 16px;
                                font-weight: normal;
                                color: #005aff;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
        .datepicker-holder {
            display: flex;
            align-items: center;
            .last-days {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #005aff;
                margin-right: 30px;
                cursor: pointer;
            }
            input {
                background: #ffffff;
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                height: 45px;
                padding: 12px 30px;
                outline: none;
                border-color: transparent;
            }
            .user-placeholder {
                .placeholderWrap,
                .placeholder {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    line-height: 19px;
                    color: #002445 !important;
                    border: 1px solid #ffffff;
                    .spearator {
                        margin: 0px 3px;
                    }
                }
                cursor: pointer;
                display: flex;
                align-items: center;
                background: #ffffff;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                padding: 14px 25px;
                .icon {
                    margin-left: 20px;
                    svg {
                        fill: #005aff;
                    }
                }
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        padding: 28px 32px;
        background: #005aff;
        .left {
            display: flex;
            align-items: center;
            .count {
                margin-left: 14px;
                font-size: 16px;
                line-height: 19px;

                color: #ffffff;
            }
        }
        .right {
            .all-pending {
                button {
                    background: #00a237;
                    border-radius: 4px;
                    width: 117px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    cursor: pointer;
                    color: #ffffff;
                    border-color: transparent;
                    outline: none;
                }
            }
            ul {
                display: flex;
                li {
                    align-items: center;
                    display: flex;
                    margin-right: 54px;
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ffffff;
                    .edit-icon {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1024px){
    .table-component-holder{
        .selectbox-bottom{
            left: -37px !important;
            ul{
                li{
                    width: 300px !important;
                }
            }
        }
    }
}
