.table tbody > tr:hover {
    background-color: #ececec;
    cursor: auto !important;
}

.balance-holder {
    .info-card-icon {
        position: absolute;
        top: 20px;
        right: 23px;
    }
    .balance-card {
        .icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 90, 255, 0.1);
            border-radius: 50%;
            transition: 0.3s ease;
            margin-bottom: 12px;
        }
        .text {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            transition: 0.3s ease;
            color: #212121;
        }
        &:hover {
            .icon {
                background: rgba(255, 255, 255, 0.24);
            }
            svg {
                path {
                    fill: white;
                }
            }
            .text {
                color: #ffffff;
            }
        }
    }
    .is-coming {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d80027;
        position: absolute;
        left: -14px;
        &.active {
            background: #00a237;
        }
    }
}

.card-data-upper-balance {
    display: flex;
    flex-wrap: wrap;
    .card-data {
        flex-basis: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start  ;
        color: #4A4A4A;
        .text{
            line-height: 126.5%;
            font-size: 14px ;
        }
        .card-data-title {
            font-size: 16px;
            line-height: 126.5%;
            margin-bottom: 6px;

            color: #989898;
        }
        &.card-data-right{
         
            align-items: flex-end;
            .text{
                text-align: right;
            }
        }
    }
    .card-data-text-income{
        position: relative;
        padding-left: 15px;
        .is-coming{
            left: 2px;
            top: 4px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .balance-holder {
        .is-coming {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #d80027;
            position: absolute;
            left: -13px;
            top: 2px;
        }
    }
}
