.table-component-holder {
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.1));
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 30px;
    .table {
        width: 100%;
        margin-bottom: 0px !important;
        table {
            width: 100%;
            margin-bottom: 0px !important;
            thead{
                th:last-child{
                    text-align: right;
                }
            }
            tbody {
                td {
                    padding-top: 7px !important;
                    padding-bottom: 7px;
                    vertical-align: middle;
                    padding-left: 30px;
                    border: none;
                    .checked-td{
                        display: none;
                    }
                    &:last-child{
                        padding-left: 0px;
                        padding-right: 30px;
                        .buy-status{
                            text-align: right;
                        }
                        .td-holder{
                            display: flex;
                                justify-content: flex-end;
                                
                        }
                    }
                }
                tr.checked{
                    background: #ECECEC;
                   td{
                       .image{
                           svg{
                               display: none;
                           }
                           .checked-td{
                               display: block;
                           }
                       }
                   } 
                }
                tr{
                    transition: 0.3s ease;
                    cursor: pointer;
                }
                .td-holder {
                    display: flex;
                    align-items: center;
                    vertical-align: middle;

                    .image {
                        margin-right: 10px;
                    }
                    .text {
                        font-size: 16px;
                        line-height: 19px;

                        color: #002444;
                        &.status-active{
                            color: #00A237;
                        }
                    }
                    .all-texts{
                        display: flex;
                        flex-direction: column;
                        .text{
                            margin-bottom: 5px;
                            &:last-child{
                                margin-bottom:0px ;
                            }
                        }
                    }
                    .detailed-view {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #005aff;
                        cursor: pointer;
                    }
                    .buy-status {
                        .status {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #7d7d7d;
                            width: 70px;
                            word-break:normal;
                        }
                        .status.paid {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;

                            color: #00a237;
                        }
                        .status.pending {
                            background: #00a237;
                            border-radius: 4px;
                            width: 60px;
                            height: 34px;
                            cursor: pointer;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
.table-with-all-components-holder{
    margin-top: 60px;
}